baidu-aip==2.2.18.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
demjson==2.2.4
idna==2.10
playsound==1.2.2
pocketsphinx==0.1.15
PyAudio==0.2.11
pycparser==2.20
pygit2==1.5.0
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
pyreadline==2.1
pyserial==3.5
python-dotenv==0.17.0
pyudev==0.22.0
pyusb==1.1.1
pywin32==300
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
rshell==0.0.30
six==1.16.0
SpeechRecognition==3.8.1
urllib3==1.26.4
